In [6]:
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv('Mianwali_20140101_20240101.csv')
df

        T2M   RH2M  PRECTOTCORR  WS2M  GWETTOP  GWETROOT  GWETPROF      Date
0      8.07  25.56         0.00  1.66     0.18      0.45      0.45  20140101
1     10.54  18.88         0.00  1.45     0.18      0.45      0.45  20140102
2     12.21  15.00         0.00  1.38     0.18      0.45      0.45  20140103
3     12.62  14.75         0.11  1.13     0.18      0.45      0.45  20140104
4     12.58  19.06         0.00  1.20     0.18      0.45      0.45  20140105
...     ...    ...          ...   ...      ...       ...       ...       ...
3648  16.44  32.25         0.00  1.22     0.24      0.45      0.45  20231228
3649  14.03  44.75         0.00  1.46     0.23      0.45      0.45  20231229
3650  15.07  40.06         0.00  1.08     0.23      0.45      0.45  20231230
3651  14.15  42.62         0.00  1.23     0.23      0.45      0.45  20231231
3652  13.76  42.38         0.00  1.07     0.23      0.45      0.45  20240101

[3653 rows x 8 columns]

In [8]:
df.describe()

,T2M,RH2M,PRECTOTCORR,WS2M,GWETTOP,GWETROOT,GWETPROF,Date
count,3653.000000,3653.000000,3653.000000,3653.000000,3653.000000,3653.000000,3653.000000,3.653000e+03
mean,24.881448,44.796299,1.579132,1.540011,0.394689,0.486381,0.485070,2.018568e+07
std,8.695884,15.550022,5.431214,0.548973,0.135418,0.053827,0.048906,2.873523e+04
min,4.950000,11.810000,0.000000,0.520000,0.110000,0.440000,0.450000,2.014010e+07
25%,17.040000,33.120000,0.000000,1.170000,0.290000,0.450000,0.450000,2.016070e+07
50%,26.050000,43.940000,0.010000,1.380000,0.420000,0.470000,0.470000,2.019010e+07
75%,32.720000,55.440000,0.750000,1.770000,0.480000,0.500000,0.500000,2.021070e+07
max,40.850000,89.000000,94.820000,4.790000,0.910000,0.790000,0.750000,2.024010e+07

In [9]:
df.dropna(inplace=True)
df

        T2M   RH2M  PRECTOTCORR  WS2M  GWETTOP  GWETROOT  GWETPROF      Date
0      8.07  25.56         0.00  1.66     0.18      0.45      0.45  20140101
1     10.54  18.88         0.00  1.45     0.18      0.45      0.45  20140102
2     12.21  15.00         0.00  1.38     0.18      0.45      0.45  20140103
3     12.62  14.75         0.11  1.13     0.18      0.45      0.45  20140104
4     12.58  19.06         0.00  1.20     0.18      0.45      0.45  20140105
...     ...    ...          ...   ...      ...       ...       ...       ...
3648  16.44  32.25         0.00  1.22     0.24      0.45      0.45  20231228
3649  14.03  44.75         0.00  1.46     0.23      0.45      0.45  20231229
3650  15.07  40.06         0.00  1.08     0.23      0.45      0.45  20231230
3651  14.15  42.62         0.00  1.23     0.23      0.45      0.45  20231231
3652  13.76  42.38         0.00  1.07     0.23      0.45      0.45  20240101

[3653 rows x 8 columns]